<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" href="/UNO.icon" type="image/x-icon">
    <script defer src="/script.js"></script>
  </head>

  <body>
    <div id="grid-container">

      <!-- Header Section  -->
      <%- include("partials/header") %>

        <!-- Sidebar Section  -->
        <%- include("partials/sidebar") %>

          <!-- Main Section -->
          <main class="grid-main">

            <!-- Start Functionality-->

            <div class="main-body" data-main-body>
              <div class="table-container-primary">
                <div class="main-body-header">
                  <h2 class="main-title">RECENT EVENTS</h2>
                  <div class="table-btn-list">
                    <div class="dropdown-container">
                      <p class="dropdown-title">Sort By:</p>
                      <select name="selector" id="selector" class="dropdown" data-dropdown-sort
                        data-pointer-not-allowed>
                        <option value="recent" selected>Recent</option>
                        <option value="startDate">Start Date</option>
                        <option value="endDate">End Date </option>
                        <option value="numOfParticipants">Number of Participants</option>
                        <option value="status">Status</option>
                      </select>
                    </div>
                    <button class="table-btn add-btn" onClick="showCreateEventModal()"><i class="bx bx-plus"></i>Create
                      Event</button>
                  </div>
                </div>

                <!--Start Table-->

                <div class="scrollable-table full-page">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Number of Participants</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% locals.recentEvents.forEach(element=> { %>
                        <tr>
                          <td>
                            <%= element.eventID %>
                          </td>
                          <td>
                            <%= element.eventName %>
                          </td>
                          <td>
                            <%= element.eventStartDate %>
                          </td>
                          <td>
                            <%= element.eventEndDate %>
                          </td>
                          <td>
                            <%= element.numOfParticipants %>
                          </td>
                          <td data-status="<%= element.eventStatus %>">
                            <%= element.eventStatus %>
                          </td>
                          <td><i class='bx bxs-edit edit' aria-label="Edit"
                              onclick="showUpdateEventModal('<%= element.eventID %>')" data-edit
                              data-pointer-not-allowed></i>
                            <i class='bx bx-trash delete' aria-label="Delete"
                              onclick="showDeleteItemModal('<%= element.eventID %>')" data-delete
                              data-pointer-not-allowed></i>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="modal delete-item-modal" data-delete-item-modal>
              <h1>&#9888;</h1>
              <h2>Are you sure?</h2>
              <p>This action cannot be undone. All values <br> associated with this field will be lost.</p>
              <button class="btn modal-btn-delete" type="button" data-conform-delete>Delete Event</button>
              <button class="btn modal-btn-cancel" type="button" onclick="hideDeleteItemModal()">Cancel</button>
            </div>

            <!--Update-->
            <form class="modal edit-item-modal" action="/events/update-event" method="POST" data-edit-event-modal>
              <div class="modal-header">
                <h2>Edit Event</h2>
                <button class="close-btn" type="button" onclick="hideUpdateEventModal()">&times;</button>
              </div>
              <div class="modal-body">
                <div class="modal-fields">
                  <label for="eventNameUpdate">Event Name: </label>
                  <!-- <input type="hidden" id="eventID" name="eventID" data-event-id> -->
                  <input type="text" id="eventNameUpdate" name="eventNameUpdate" autocomplete="event-name"
                    aria-label="Event Name" data-event-name>
                </div>
                <div class="modal-fields">
                  <label for="updateStartDate">Start Date: </label>
                  <input type="date" id="updateStartDate" name="updateStartDate" autocomplete="event-start-date"
                    aria-label="Event Start Date" data-event-start-date>
                </div>
                <div class="modal-fields">
                  <label for="updateEndDate">End Date: </label>
                  <input type="date" id="updateEndDate" name="updateEndDate" autocomplete="event-end-date"
                    aria-label="Event End Date" data-event-end-date>
                </div>
                <div class="modal-fields">
                  <label for="updateNumberOfParticipants">Number of Participants: </label>
                  <input type="number" min="0" id="updateNumberOfParticipants" name="updateNumberOfParticipants"
                    autocomplete="event-no-of-participants" aria-label="Number of Participants" data-event-part-no
                    disabled>
                  <!--should be a number-->
                </div>
                <div class="modal-fields">
                  <input type="hidden" id="updateEventStatus" name="updateEventStatus" autocomplete="event-status"
                    aria-label="Event Status" data-event-status>
                  <input type="hidden" id="eventID" name="eventID" data-event-id>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn modal-btn-confirm" type="submit">Update</button>
                <button class="btn modal-btn-cancel" type="button" onclick="hideUpdateEventModal()">Cancel</button>
              </div>
              <div class="modal-error-message" data-modal-error-message></div>
            </form>
            <!--End-->

            <!--Creation-->
            <form class="modal create-item-modal" action="/events/create-event" method="POST" data-create-event-modal>
              <div class="modal-header">
                <h2>Create Event</h2>
                <button class="close-btn" type="button" onclick="hideCreateEventModal()">&times;</button>
              </div>
              <div class="modal-body">
                <div class="modal-fields">
                  <label for="eventNameC">Event Name: </label>
                  <!-- <input type="hidden" id="eventID" name="eventID" data-event-id> -->
                  <input type="text" id="eventNameC" name="eventNameC" autocomplete="event-name" aria-label="Event Name"
                    data-event-name>
                </div>
                <div class="modal-fields">
                  <label for="cStartDate">Start Date: </label>
                  <input type="date" id="cStartDate" name="cStartDate" autocomplete="event-start-date"
                    aria-label="Event Start Date" data-event-start-date>
                </div>
                <div class="modal-fields">
                  <label for="cEndDate">End Date: </label>
                  <input type="date" id="cEndDate" name="cEndDate" autocomplete="event-end-date"
                    aria-label="Event End Date" data-event-end-date>
                </div>
                <div class="modal-fields">
                  <input type="hidden" id="cEventStatus" name="cEventStatus" autocomplete="event-status"
                    aria-label="Event Status" data-event-status>
                  <input type="hidden" id="cNumberOfParticipants" name="cNumberOfParticipants" value="0">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn modal-btn-confirm" type="submit">Update</button>
                <button class="btn modal-btn-cancel" type="button" onclick="hideCreateEventModal()">Cancel</button>
              </div>
              <div class="modal-error-message" data-modal-error-message></div>
            </form>
            <!--End-->

            <div class="search-result" data-search-result></div>
          </main>

          <!-- Footer Section -->
          <%- include("partials/footer") %>
    </div>
  </body>

</html>
